// Screen sizes
$screen-narrow: 640px;
$screen-wide: 1280px;

// Colors
$background-color: rgb(16, 35, 49);
$background-color-variant: rgba(18, 31, 39, 0.05);
$graph-bids-color: rgb(39, 65, 54);
$graph-asks-color: rgb(68, 49, 53);
$text-color: rgb(255, 255, 255);
$text-color-variant: rgb(150, 155, 158);

// Table variables
$data-sequence-bids: "count amount total price";
$data-sequence-asks: "price total amount count";


// Bitfinex colors
// $primary-color: rgb(1, 167, 129);
// $primary-color-variant: rgb(1, 192, 149);
// $secondary-color: rgb(228, 75, 68);
// $secondary-color-variant: rgb(230, 94, 88);
// $tertiary-color: rgb(130, 186, 246);
// $tertiary-color-variant: rgb(143, 193, 246);
// $background-color: rgb(16, 35, 49);
// $background-color-variant: rgb(18, 31, 39);
// $surface-color: rgb(23, 45, 62);
// $surface-color-variant: rgb(42, 82, 114);
// $on-surface-color: rgb(40, 68, 91);
// $on-surface-color-variant: rgb(14, 52, 82);
// $text-color: rgb(255, 255, 255);
// $text-color-variant: rgb(150, 155, 158);
