@import "../styles/global-imports";

.row.header {
  font-weight: bold;
  color: $text-color-variant;
  text-transform: uppercase;
  @include narrowBreakPoint {
    &.bids {
      visibility: hidden;
    }
    &.asks {
      display: none;
    }
  }
}

