@import "../styles/global-imports";

.table {
  display: grid;
  grid-template-areas: "bids asks";
  width: 640px;
  padding: 1rem;
  box-sizing: border-box;
  position:absolute;

  @include narrowBreakPoint {
    grid-template-areas: 
      "asks"
      "bids";
    width: 320px;
  }
}

.table-half {
  flex-grow: 1;
  height: 445px;
  padding: 0 2px;

  &.bids {
    grid-area: bids;
  }

  &.asks {
    grid-area: asks;
    @include narrowBreakPoint {
      display: flex;
      flex-direction: column-reverse; 
    }
  }
}
