@import "../styles/global-imports";

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 .5rem;
  text-align: right;
  width: 100%;

  &.data:hover {
    background-color: rgba(1, 167, 129,0.1);
    cursor: pointer;
  }

  &.bids {
    grid-template-areas: $data-sequence-bids;
  }
  
  &.asks {
    grid-template-areas: $data-sequence-asks;
    @include narrowBreakPoint { 
      grid-template-areas: $data-sequence-bids;
    }
  }

  .price {
    grid-area: price;
  }
  .count {
    grid-area: count;
    // text-align: center;
  }
  .amount {
    grid-area: amount;
  }
  .total {
    grid-area: total;
  }
}

