@import "../styles/global-imports";


.table {
  display: flex;
  width: 640px;
  padding: 1rem;
  box-sizing: border-box;

  @include narrowBreakPoint {
    flex-direction: column;
  }
}
.table-half {
  flex-grow: 1;
  height: 445px;
  
}