body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
}
#root {
  background-color: #282c34;
  font-size: .7rem;
  width: 100%;
  height: 100%;
}

.bookTable {
  display: flex;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
@media screen and (max-width: 640px) {
  .bookTable {
    flex-direction: column;
  }  
  .bookTableHalf.asks > .bookRow.header {
    display: none;
  }
}

.bookTableHalf {
  flex-grow: 1;
}
.bookTableHalf.bids{
  color: seagreen;
}
.bookTableHalf.asks{
  color: coral;
}

.bookRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: right;
  width: 100%;
}
.bookRow.header {
  font-weight: bold;
}
